# 回调配置
PORT = 8088 # 与wx849_callback_daemon（包括.py与.json, 下同）中回调地址改为 http://宿主机IP:端口/wx849/callback ，此处端口与其一致
API_KEY = "" # 回调鉴权，与wx849_callback_daemon中的callback_key一致

# Telegram Bot Token
BOT_TOKEN = "" # TG Bot Token

# XXXBot API
XXX_BASE_URL = "http://localhost:9011/VXAPI" # 849使用`/VXAPI`, 其余使用`/api`
MY_WXID = "" # 自己的wxid
POLLING_INTERVAL = 1 # 回调频率，单位秒

class Type:
    def __init__(self):
        self.type_map = {
            1: "文本",
            3: "照片",
            34: "语音",
            43: "视频",
            47: "贴纸",
            48: "定位",
            5: "链接",
            6: "链接",
            19: "聊天记录",
            36: "小程序",
            51: "视频号",
            57: "引用",
            2000: "转账",
            2001: "红包",
            42: "名片'",
            33: "视频号"
        }
    def __call__(self, value):
        return self.type_map.get(value, "未知类型")
type = Type()

